
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {include file="layout/head" /}
</head>

<body class="body-mg01">
<div class="header fix header-bg01 wow fadeInDown">
    <span class="menuBtn"></span>
    {include file="layout/banner" /}
</div>
{include file="layout/shutter" /}

<div class="main">
    <div class="wp">
        <div class="row-jg03">
            <div class="item">
                <div class="g-tit-z1">
                    <h3 class="wow fadeInLeft"> <i></i> <span>我们的愿景</span></h3>
                    <p class="wow fadeInRight">VISION</p>
                </div>
                <div class="img-txt2">
                    <div class="pic wow fadeInUp">
                        <img src="static/picture/20190329125021171.jpg" alt="">
                    </div>
                    <div class="txt">
                        <h3 class="wow fadeInLeft">我们的愿景</h3>
                        <span class="wow fadeInLeft">卓越的企业法律服务供应商</span>
                        <p class="wow fadeInRight">
                            我们将所有知识积累、经验和努力贡献于企业法律服务。我们致力于成为一家卓越的企业基础法律服务供应商，陪伴企业成长，贡献才智和价值。                            </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="g-tit-z1">
                    <h3 class="wow fadeInLeft"> <i></i> <span>我们的使命</span></h3>
                    <p class="wow fadeInRight">VISION</p>
                </div>
                <div class="img-txt2">
                    <div class="pic wow fadeInUp">
                        <img src="static/picture/20190329125037500.jpg" alt="">
                    </div>
                    <div class="txt">
                        <h3 class="wow fadeInLeft">我们的使命</h3>
                        <span class="wow fadeInLeft">让每一个企业都平等便捷获得优质法律服务</span>
                        <p class="wow fadeInRight">
                            我们在知识产权、公司治理、合同管理、劳动用工等企业基础法律服务的核心方面有着扎实的知识积累和丰富的实务经验。我们重新定义企业法律服务模式，有自信通过一体化的分工协作和法律科技加持，让企业在标准成本下也能便捷地获得优质的法律服务，这是我们的使命。                            </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="g-tit-z1">
                    <h3> <i></i> <span>我们的价值观</span></h3>
                    <p>VISION</p>
                </div>
                <div class="img-txt2">
                    <div class="pic wow fadeInLeft">
                        <img src="static/picture/20190329125114891.jpg" alt="">
                    </div>
                    <div class="txt wow fadeInRight">
                        <h3>更主动、更迅速、更强大</h3>
                        <p>我们颠覆以往法律服务的“不问不顾”，我们致力于成为客户的伙伴，主动识别并满足企业的法律需求。

                            我们强调极速响应，让客户时刻感知律师就在身边。

                            团队化分工协作，比起单打独斗，我们显然更加强大，这使得我们在更为复杂、要求更高的法律服务中游刃有余。</p>
                        <em></em>
                    </div>
                </div>
                <div class="img-txt2 img-txt2-r">
                    <div class="pic wow fadeInLeft">
                        <img src="static/picture/20190329125130844.jpg" alt="">
                    </div>
                    <div class="txt wow fadeInRight">
                        <h3>清单化、团队化、可视化</h3>
                        <p>以清单化进行服务的需求管理、以团队化提供服务的执行、以可视化展现常法服务的工作成果。
                            从内容到流程、从成本到收益、从客户到律师，我们均力求清晰明了、简单高效。</p>
                        <em></em>
                    </div>
                </div>
                <div class="img-txt2">
                    <div class="pic wow fadeInLeft">
                        <img src="static/picture/20190329125145811.jpg" alt="">
                    </div>
                    <div class="txt wow fadeInRight">
                        <h3>重知守信、简单明了、畅快协作</h3>
                        <p>一个人可以走得很快，但一群人才可以走得更远。
                            我们要求内部伙伴注重知识积累、做到知行合一；我们的团队力求简单明了、畅快协作。有一群这样的可爱伙伴在身边，超出了共事的范畴，我们更是彼此人生路上的同行者。</p>
                        <em></em>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-jg04">
        <div class="g-tit-z2">
            <h3>知信客户</h3>
        </div>
        <div class="wp">
            <ul class="ul-logo-z1">
                <li class="wow fadeInUp" data-wow-delay=".0s">
                    <div class="con">

                        <img src="static/picture/20190317073730603.png" alt="">

                    </div>
                </li>

                <li class="wow fadeInUp" data-wow-delay=".1s">
                    <div class="con">

                        <img src="static/picture/20190317073711479.png" alt="">

                    </div>
                </li>

                <li class="wow fadeInUp" data-wow-delay=".2s">
                    <div class="con">

                        <img src="static/picture/20190317073654717.png" alt="">

                    </div>
                </li>

                <li class="wow fadeInUp" data-wow-delay=".3s">
                    <div class="con">

                        <img src="static/picture/20190317073638412.png" alt="">

                    </div>
                </li>

                <li class="wow fadeInUp" data-wow-delay=".4s">
                    <div class="con">

                        <img src="static/picture/20190317073624382.png" alt="">

                    </div>
                </li>

                <li class="wow fadeInUp" data-wow-delay=".5s">
                    <div class="con">

                        <img src="static/picture/20190317073608361.png" alt="">

                    </div>
                </li>

                <li class="wow fadeInUp" data-wow-delay=".6s">
                    <div class="con">

                        <img src="static/picture/20190317073554343.png" alt="">

                    </div>
                </li>

                <li class="wow fadeInUp" data-wow-delay=".7s">
                    <div class="con">

                        <img src="static/picture/20190317073539608.png" alt="">

                    </div>
                </li>

                <li class="wow fadeInUp" data-wow-delay=".8s">
                    <div class="con">

                        <img src="static/picture/20190317073501243.png" alt="">

                    </div>
                </li>

                <li class="wow fadeInUp" data-wow-delay=".9s">
                    <div class="con">

                        <img src="static/picture/20190317073440840.png" alt="">

                    </div>
                </li>



            </ul>
        </div>
    </div>
    <div class="wp">
        <div class="row-jg05">
            <div class="g-tit-z2">
                <h3 class="wow fadeInUp">知信业绩</h3>
            </div>
            <div class="slick-z1 wow fadeInUp">
                <div class="item">

                    <div class="pic">
                        <img src="static/picture/20190422012122254.jpg" alt="">
                    </div>
                    <div class="txt">
                        <div class="time">2018年12月</div>
                        <p>
                            全国优秀律师事务所                                </p>
                    </div>

                </div>

                <div class="item">

                    <div class="pic">
                        <img src="static/picture/20190330055109776.jpg" alt="">
                    </div>
                    <div class="txt">
                        <div class="time">2018年5月</div>
                        <p>
                            互联网品牌维权卫士                                </p>
                    </div>

                </div>

                <div class="item">

                    <div class="pic">
                        <img src="static/picture/20190330055109776.jpg" alt="">
                    </div>
                    <div class="txt">
                        <div class="time">2017年11月</div>
                        <p>
                            长三角公司法域专家型律师团队                                </p>
                    </div>

                </div>

                <div class="item">

                    <div class="pic">
                        <img src="static/picture/20190330055109776.jpg" alt="">
                    </div>
                    <div class="txt">
                        <div class="time">2013年5月</div>
                        <p>
                            杨浦区商事诉讼十强律师事务所                                </p>
                    </div>

                </div>



            </div>
        </div>
    </div>
</div>

{include file="layout/footer" /}