<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {include file="layout/head" /}
</head>

<body class="body-mg01">
<div class="header fix header-bg01 wow fadeInDown">
    <span class="menuBtn"></span>
    {include file="layout/banner" /}
</div>
{include file="layout/shutter" /}
<div class="main">
    <div class="wp">
        <!-- cur -->
        <div class="cur">
            <a href="news.html">新闻动态</a> > 正文
        </div>
        <!-- cur end -->
        <!-- row-jg01 -->
        <div class="row-j01">
            <h3><a href="http://www.zhixinlawoffice.com/show-19-235-1.html">{$info['title']}</a></h3>
            <div class="pic wow fadeInLeft">
                <a href="http://www.zhixinlawoffice.com/show-19-235-1.html">
                    <img src="" alt="">
                </a>
            </div>
            <div class="txt wow fadeInRight">
                <p></p>
            </div>
        </div>
        <!-- row-jg01 end -->
        <!-- row-jg02 -->
        <div class="row-j02">
            <div class="txt wow fadeInUp">
                <h3>正文详情</h3>
                <div style="text-align:center;">
                    <?php echo nl2br($info['content']); ?>
                </div>
            </div>
        </div>
        <!-- row-jg02 end -->
    </div>
</div>
<script src="http://www.zhixinlawoffice.com/statics/zhixin/js/jquery.js"></script>
<script src="http://www.zhixinlawoffice.com/statics/zhixin/js/lib.js"></script>
<script src="http://www.zhixinlawoffice.com/statics/zhixin/js/wow.min.js"></script>
<script type="text/javascript">
    // wow
    var w_win = $(window).width();
    if (w_win >= 1199) {
        if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
            new WOW().init();
        }
        ;
    }
</script>
<link rel="stylesheet" type="text/css" href="http://www.zhixinlawoffice.com/statics/zhixin/css/slick.css"/>
<script type="text/javascript" src="http://www.zhixinlawoffice.com/statics/zhixin/js/slick.min.js"></script>


<script language="JavaScript" src="http://www.zhixinlawoffice.com/api.php?op=count&id=235&modelid=1"></script>
{include file="layout/footer" /}