
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {include file="layout/head" /}
</head>

<body class="body-mg01">
<div class="header fix header-bg01 wow fadeInDown">
    <span class="menuBtn"></span>
    {include file="layout/banner" /}
</div>
{include file="layout/shutter" /}
<div class="main">
    <div class="wp">
        <!-- row-f05 -->
        <div class="row-f05">
            <!-- g-tit02 -->
            <div class="g-tit02 wow fadeInDown">
                <h2>课程展示</h2>
            </div>
            <div class="m-fq04">
                <ul class="ul-fq04">
                    <li class="wow fadeInLeft" data-wow-delay=".0s" style="margin-bottom: 20px;">
                        <div class="inner">
                            <a href="http://www.zhixinlawoffice.com/list-25-1.html" target="_blank">
                                <div class="pic">
                                    <img src="http://www.zhixinlawoffice.com/uploadfile/2019/0412/20190412073541478.jpg" alt="" />
                                    <div class="cover">
                                        <h3>电商行业涉诉大数据分析</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>


                    <li class="wow fadeInLeft" data-wow-delay=".3s" style="margin-bottom: 20px;">
                        <div class="inner">
                            <a href="http://www.zhixinlawoffice.com/list-26-1.html" target="_blank">
                                <div class="pic">
                                    <img src="http://www.zhixinlawoffice.com/uploadfile/2019/0412/20190412065323313.jpg" alt="" />
                                    <div class="cover">
                                        <h3>桌游产品的品牌保护</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>


                    <li class="wow fadeInLeft" data-wow-delay=".6s" style="margin-bottom: 20px;">
                        <div class="inner">
                            <a href="http://www.zhixinlawoffice.com/list-27-1.html" target="_blank">
                                <div class="pic">
                                    <img src="http://www.zhixinlawoffice.com/uploadfile/2019/0412/20190412074646252.jpg" alt="" />
                                    <div class="cover">
                                        <h3>小贷行业信用处置的风险点和应对策略</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- row-f05 end -->
    </div>
</div>

{include file="layout/footer" /}