{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>轮播管理</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
          <div class="row clearfix " style="margin-bottom: 15px">
            <a type="button" href="/admin/home/b_add" class="btn btn-info">添加轮播</a>
        </div>
        <table class="table table-bordered table-striped no-margin">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center" style='width:15%'>图片</th>
                    <th class="text-center">标题</th>
                    <th class="text-center">排序</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
                {if !empty($list)}
                {foreach $list as $entity}
                <tr>
                    <td class="text-center">{$entity['id']}</td>
                    <td class="text-center"><a href="{$entity['img']}" target="target">
                            <img src="{$entity['img']}" style="width:150px;height: 50px">
                        </a></td>
                    <td class="text-center">{$entity['title']}</td>
                    <td class="text-center">{$entity['sort']}</td>
                    <td class="text-center">
                        <a href="{:url('home/b_edit',['id'=>$entity['id']])}" class="btn btn-xs btn-info">编辑</a>
                        <a data-url="{:url('home/b_del',['id'=>$entity['id']])}" onclick="main.ajaxDelete(this)"
                           data-msg="确定要删除吗？" class="btn btn-xs btn-danger">删除</a>
                    </td>
                </tr>
                {/foreach}
                {else /}
                <tr class="text-center">
                    <td colspan="5">暂无数据</td>
                </tr>
                {/if}
            </tbody>
        </table>
        <div class="page" style="text-align: center">
            {:$list->render()}
        </div>
    </div>
</section>
{/block}


{block name="footer"}
<script>
    function down(tar) {
        href = window.location.href;
        $(tar).attr("href", href + "&is_down=1");
    }

    function detailed(id) {
        $('.deta_' + id).css('display', 'none');
        $('.close_' + id).css('display', '');
        $(".xiang_" + id).css('display', '');
        $(".xiang1_" + id).css('display', '');
    }

    function detailed_close(id) {
        $('.deta_' + id).css('display', '');
        $('.close_' + id).css('display', 'none');
        $(".xiang_" + id).css('display', 'none');
        $(".xiang1_" + id).css('display', 'none');
    }

    $('.send').click(function () {
        id = $(this).attr('data-id');
        num = $('#send_' + id).val();
        if (num == '') {
            return false;
        }

        $.ajax({
            url: "{:url('send')}",
            method: 'POST',
            dataType: 'json',
            data: {id: id, numbers: num},
            success: function (response) {
                console.log(response);
                main.waringAlert(response.msg)
                if (response.code == 200) {
                    window.location.reload();
                }
            },
        })
    });

</script>
{/block}