<style>
        table,table tr th, table tr td { border:0.5px solid black; }
    </style>
<table class="table table-bordered table-striped no-margin">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center" style='width:15%'>商品名</th>
                    <th class="text-center">支付方式</th>
                    <th class="text-center">数量</th>
                    <th class="text-center">价格</th>
                    <th class="text-center">状态</th>
                    <th class="text-center">用户信息</th>
                    <th class="text-center">发货号</th>
                    <th style="text-center">购买时间</th>
                    <th style="text-center">发货时间</th>
                    <th style="text-center">收货时间</th>
                    <th style="text-center">收货人</th>
                    <th style="text-center">收货地址</th>
                    <th style="text-center">收货手机号</th>
                    <th style="text-center">返算力</th>
                </tr>
            </thead>
            <tbody>
                {if !empty($list)}
                {foreach $list as $entity}
                <tr>
                    <td class="text-center">{$entity->id}</td>
                    <td class="text-center">{$entity->shop_name}</td>
                    <td class="text-center">{$payment_type[$entity->payment_type]}</td>
                    <td class="text-center">{$entity->num}</td>
                    <td class="text-center">
                        {$entity->shop_price}
                    </td>
                    <td class="text-center">{:get_shop_order_status($entity->status)}</td>
                    <td class="text-center">
                        昵称：{$entity->nick_name}<br>手机号：{$entity->u_mobile}
                    </td>
                    <td class="text-center">
                        {$entity->numbers}
                    </td>
                    <td style="text-center">{$entity->add_time}</td>
                    <td style="text-center">{$entity->send_time == '0000-00-00 00:00:00' ? '': $entity->send_time}</td>
                    <td style="text-center">{$entity->collect_time == '0000-00-00 00:00:00' ? '' :$entity->collect_time}</td>
                    <td style="text-center">{$entity->name }</td>
                    <td style="text-center">{$entity->address}</td>
                    <td style="text-center">{$entity->mobile}</td>
                    <td style="text-center">{$entity->is_back == 1 ? '返' : '不返'}</td>
                </tr>
                {/foreach}
                {else /}
                <tr class="text-center">
                    <td colspan="10">暂无数据</td>
                </tr>
                {/if}
            </tbody>
        </table>